body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: rgb(11, 18, 32);
	color: white;
	font-family: "微软雅黑";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

#inputCode {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}